---
permalink: feed.xml
eleventyExcludeFromCollections: true
---

{% set items = collections.notes %}
{{ items | rssFeed({
  title: "My Brain RSS",
  feedUrl: "https://brain.sdufresne.info/feed.xml",
  siteUrl: "https://brain.sdufresne.info"
}) }}
